button {
    margin-bottom: 30px;
    margin-top: 10px;
    background-color: $color-play;
    width: 50%;
    height: 70px;
    border-radius: 10px;
    border: 0px solid transparent;
    font-family: 'Cabin Sketch', 'Roboto', cursive;
    position: relative;
    font-size: 40px;
    font-weight: 900;
    color: $color-brand;
    left: calc((100% - 50%) / 2);
    border: none;
    cursor: pointer;

    &:hover {
        background-color: $color-train;
        box-shadow: 0 0 5px 5px $color-brand;
    }

    @include media-laptop {
        font-size: 28px;
    }

}

.repeat-button {
    width: 30%;
    background-color: $color-train;
    left: calc((100% - 30%) / 2);
    border-radius: 60px;
}

.star-win {
    width: 50px;
    height: 50px;
    background: url(/english-for-kids/src/assets/img/star-win.svg);
    background-repeat: no-repeat;
    background-size: 50px;
    color: $color-train;
    position: relative;
    flex-shrink: 0;
}

.star-lose {
    width: 50px;
    height: 50px;
    background: url(/english-for-kids/src/assets/img/star.svg);
    background-repeat: no-repeat;
    background-size: 50px;
    color: $color-train;
    position: relative;
    flex-shrink: 0;

}

.input-disable {
    &:hover {
        &::after {
            content: "Please, finish your game!";
            top: 43px;
            position: relative;
            font-family: 'Cabin Sketch', 'Roboto', cursive;
            color: $color-brand;
            display: block;
            text-align: center;
        }

    }
}