#checkbox:checked ~ .switcher-text::before, .switcher-text::before, .menu a {
  font-family: "Cabin Sketch", "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
}

.cards-container {
  margin-top: 30px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

button {
  margin-bottom: 30px;
  margin-top: 10px;
  background-color: #ffb343;
  width: 50%;
  height: 70px;
  border-radius: 10px;
  border: 0px solid transparent;
  font-family: "Cabin Sketch", "Roboto", cursive;
  position: relative;
  font-size: 40px;
  font-weight: 900;
  color: #5eb5b1;
  left: calc((100% - 50%) / 2);
  border: none;
  cursor: pointer;
}
button:hover {
  background-color: #fff067;
  box-shadow: 0 0 5px 5px #5eb5b1;
}
@media (max-width: 1120px) {
  button {
    font-size: 28px;
  }
}

.repeat-button {
  width: 30%;
  background-color: #fff067;
  left: calc((100% - 30%) / 2);
  border-radius: 60px;
}

.star-win {
  width: 50px;
  height: 50px;
  background: url(/english-for-kids/src/assets/img/star-win.svg);
  background-repeat: no-repeat;
  background-size: 50px;
  color: #fff067;
  position: relative;
  flex-shrink: 0;
}

.star-lose {
  width: 50px;
  height: 50px;
  background: url(/english-for-kids/src/assets/img/star.svg);
  background-repeat: no-repeat;
  background-size: 50px;
  color: #fff067;
  position: relative;
  flex-shrink: 0;
}

.input-disable:hover::after {
  content: "Please, finish your game!";
  top: 43px;
  position: relative;
  font-family: "Cabin Sketch", "Roboto", cursive;
  color: #5eb5b1;
  display: block;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
}

.nav-bar {
  position: relative;
  margin: 40px auto auto 10%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 99;
  left: 130%;
}

.nav-bar span,
.nav-bar span::after,
.nav-bar span::before {
  position: absolute;
  width: 100%;
  height: 8px;
  background: #fff067;
  border-radius: 2px;
  top: calc(50% - 4px);
}

.nav-bar span::after {
  content: "";
  top: -10px;
  transition: top 0.3s, transform 0.7s;
}

.nav-bar span::before {
  content: "";
  top: 10px;
  transition: top 0.3s, transform 0.7s;
}

.nav-bar.active span {
  background: none;
  transition-duration: 0.2s;
}

.nav-bar.active span::after {
  top: 0;
  transform: rotate(135deg);
}

.nav-bar.active span::before {
  top: 0;
  transform: rotate(-135deg);
}

.menu {
  width: 320px;
  height: 100vh;
  position: absolute;
  background: #5eb5b1;
  top: 0;
  left: -320px;
  display: flex;
  flex-direction: column;
  text-align: center;
  place-content: center;
  transition: left 0.5s ease-out;
  z-index: 22;
}

.menu.active {
  left: 0;
}

.menu a {
  text-decoration: none;
  color: white;
  margin: 5px;
  font-size: 30px;
  font-weight: 900;
}

.menu a:hover {
  color: #fff067;
}

.switcher {
  height: 40px;
  width: 120px;
  background: #5eb5b1;
  margin: 40px 10% auto auto;
  border-radius: 5px;
  cursor: pointer;
}

.switcher-input {
  display: none;
}

.switcher-text {
  height: 36px;
  width: 116px;
  position: absolute;
  margin: 2px;
  border-radius: 5px;
}

.switcher-text::before {
  content: attr(data-on);
  margin: 3px 0 auto 6px;
  position: absolute;
  color: white;
  font-size: 27px;
  font-weight: 400;
}

.switcher-box {
  position: absolute;
  width: 30px;
  height: 30px;
  background: #fff067;
  top: 44px;
  right: calc((100% - 1120px) / 2 + 118px);
  border: white 1px solid;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 0px white;
  transition: right 0.3s ease-in;
}
@media (max-width: 1120px) {
  .switcher-box {
    right: 10.6%;
  }
}

.switcher-box::after {
  position: absolute;
  background: red;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 2px black;
}

#checkbox:checked ~ .switcher-text {
  background: #ffb343;
}

#checkbox:checked ~ .switcher-text::before {
  content: attr(data-off);
  margin: 3px 0 auto 47px;
  position: absolute;
  color: white;
  font-size: 27px;
  font-weight: 400;
}

#checkbox:checked ~ .switcher-box {
  right: calc((100% - 1120px) / 2 + 195px);
}
@media (max-width: 1120px) {
  #checkbox:checked ~ .switcher-box {
    right: calc(10.6% + 80px);
  }
}

/* main container */
.main-container {
  width: 100%;
}

.card {
  width: 300px;
  height: 200px;
  border-radius: 5px;
  background: #5eb5b1;
  margin: 30px 20px;
  text-align: center;
  cursor: pointer;
}
.card:hover {
  box-shadow: 0px 0px 40px 2px #fff067;
}
.card img {
  width: 220px;
  border: 1px solid #fff067;
  border-radius: 5px;
  margin-top: -21px;
}
.card h1 {
  font-family: "Cabin Sketch", "Roboto", cursive;
  margin-top: 10px;
  color: white;
}

.play {
  background: #ffb343;
}
.play:hover {
  box-shadow: 0px 0px 40px 0px #fff067;
}

.categorie-header {
  width: 90%;
  height: 30px;
  margin: 20px auto 0px auto;
  display: flex;
  justify-content: space-between;
}

.categorie-name {
  width: fit-content;
  font-family: "Cabin Sketch", "Roboto", cursive;
  position: relative;
  font-size: 30px;
  font-weight: 900;
  margin: auto 0;
  overflow: hidden;
  color: #5eb5b1;
}
@media (max-width: 1120px) {
  .categorie-name {
    font-size: 25px;
  }
}

.categorie-score {
  width: 80%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
}
@media (max-width: 1120px) {
  .categorie-score {
    width: 50%;
  }
}

.category-card {
  perspective: 1000px;
}

.card-inner {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.front {
  width: 300px;
  height: 200px;
  border-radius: 5px;
  background: white;
  margin: 20px;
  text-align: center;
  border: 2px solid #fff067;
  border-radius: 5px;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.front:hover {
  box-shadow: 0px 0px 40px -15px #5eb5b1;
}
.front img {
  width: 250px;
  border: 1px solid #fff067;
  border-radius: 5px;
  margin-top: -60px;
  transition: width 0.5s, margin-top 0.5s;
}
.front h1 {
  font-family: "Cabin Sketch", "Roboto", cursive;
  position: relative;
  top: 155px;
  color: #5eb5b1;
}
.front .rotate {
  background: url(/english-for-kids/src/assets/img/return-arrow-yellow.jpg);
  width: 50px;
  height: 50px;
  position: relative;
  bottom: 7px;
  left: 251px;
  background-size: 32px;
  background-repeat: no-repeat;
  background-position: center 16px;
  cursor: help;
}
.front .rotate:hover {
  filter: hue-rotate(90deg);
}
.front .rotate:active .card-inner {
  transform: rotateY(180deg);
}

.play-mode h1 {
  opacity: 0;
}
.play-mode img {
  width: 100%;
  margin-top: -39px;
}
.play-mode .rotate {
  display: none;
}

.back {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  width: 300px;
  height: 200px;
  border-radius: 5px;
  background: white;
  margin: 19px 20px;
  text-align: center;
  border: 2px solid #fff067;
  border-radius: 5px;
  transform: rotateY(180deg);
}
.back img {
  width: 250px;
  border: 1px solid #fff067;
  border-radius: 5px;
  margin-top: -60px;
}
.back h1 {
  font-family: "Cabin Sketch", "Roboto", cursive;
  position: relative;
  top: 155px;
  color: #5eb5b1;
}

.flipped {
  transform: rotateY(180deg);
}

.disable {
  opacity: 0.5;
  pointer-events: none;
}
.disable img {
  border: 5px solid #5eb5b1;
  box-shadow: 0px 0px 10px black;
}

/*# sourceMappingURL=style.css.map */
